.embla {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  padding: 2rem;
  mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.98) 15%, rgba(0, 0, 0, 0.98) 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.98) 15%, rgba(0, 0, 0, 0.98) 85%, transparent 100%);
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 40%;
  min-width: 0;
  position: relative;
}

/* The new inner wrapper for the transform */
.embla__slide__transformer {
  padding: 1rem;
  opacity: 0.4;
  transform: scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.embla__slide.is-selected .embla__slide__transformer {
  opacity: 1;
  transform: scale(1);
}

